#bootstrap-overrides [id^='previewButton--'] {
    display: block;
    margin: auto;
}

#budgetCard {
    display: block;
    margin: auto;
}

#budgetContainer {
    height: 45rem;
    margin: auto;
    position: relative;
    width: auto;
}

#budgetDirections {
    font-weight: lighter;
    margin-left: 75%;
    margin-top: 0px;
}

#budgetOverlay {
    height: 200px;
    position: absolute;
    right: 36.5%;
    top: 33.3%;
    width: 300px;
}

.calendar__event {
    border: 1px solid black;
}

#heroImageContainer {
    background-image: linear-gradient(to bottom, #76b852, #8DC26F, #FFFFFF);
    display: flex;
    flex-wrap: nowrap;
}

#heroImageContainer > * {
    filter: grayscale(100%);
    padding: 1.5rem;
    text-align: center;
}

#heroImage__description {
    text-indent: 2rem;
}

#heroImage__image {
    height: 250px;
}

.hidden {
    display: none;
}

.previewCard__containerUnhidden {
    background-image: linear-gradient(to bottom, #76b852, #8DC26F, #FFFFFF);
    border-radius: 2.5%;
}

[id^='hiddenCard--'] {
    margin-left: 3rem;
}

[id^='previewCard--'] {
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem 1rem;
    padding: 2rem;
}

[id^='previewImg--'] {
    filter: grayscale(100%);
    height: auto;
    width: 210px;
}

[id^='previewList--'] > li:first-child {
    border-bottom: 1px darkgray double;
}

[id^='previewList--'] {
    list-style-type: none;
    display: block;
    margin: 2rem 33%;
    text-align: center;
    width: 210px;
}

[id^='previewText--'] {
    text-indent: 3em;
}

[id^='previewTitle--'] {
    font-size: xx-large;
    text-align: center;
}

.villageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem;
}

.villageListContainer {
    margin-top: 100px;
}

.villageContainer h1 {
    margin-top: 2rem;
    text-align: center;
}

.villageListContainer__header {
    margin-top: 30px;
    text-align: center;
}

.villageListContainer__header > * {
    margin-top: 30px;
    text-align: center;
}

.green {
    background-color: lightgreen;
    color: black;
}

.red {
    background-color: lightcoral;
    color: black;
}

.color-key {
    margin-right: 2rem;
    position: relative;
}

.color-key p {
    padding-left: 20px;
}

.color-key .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}

.color-keyContainer {
    display: flex;
    flex-wrap: nowrap;
}