
#about__fakePartnersHeader {
    flex: 0 0 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.about__fakePartnersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 4rem 0rem;
    padding:5px;
}

.about__information {
    background-color: goldenrod;
    background-image: linear-gradient(goldenrod, white);
    display: block;
    height: 320px;
    padding: 0rem 3rem;
    text-align: center;
}

.about__missionStatement > h1 {
    color: #F65058FF;
    font-family: 'Yeseva One', cursive;
    font-size: 3rem;
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.about__missionStatement {
    font-size: 1.5rem;
}

.about__partner {
    height: 150px;
    margin:5px;
    width: auto;
}