.calendar {
    margin-bottom: 3rem;
}

.calendar__event {
    border: 1px solid black;
}

.color-key {
    margin-right: 2rem;
    position: relative;
}

.color-key p {
    padding-left: 20px;
}

.color-key .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
}

.color-keyContainer {
    display: flex;
    flex-wrap: nowrap;
}

.green {
    background-color: lightgreen;
    color: black;
}

.red {
    background-color: lightcoral;
    color: black;
}

.livingCoral {
    background-color: #FF6F61;
    color: black;
}

.ultraViolet {
    background-color: #6B5B95;
    color: black;
}

.greenery {
    background-color: #88B04B;
    color: black;
}

.marsala {
    background-color: #955251;
    color: black;
}

.serenity {
    background-color: #92A8D1;
    color: black;
}

.radiandOrchid {
    background-color: #B565A7;
    color: black;
}

.emerald {
    background-color: #009B77;
    color: black;
}

.mimosa {
    background-color: #EFC050;
    color: black;
}
