body {
    height: 100%;
    margin: 0;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.footer {
    background-color: #ffc107;
    bottom: 0;
    height: 38px;
    width: 100%;
}
  
.home__imgContainer {
    background-color: #cccccc;
    background-image: url("https://i.imgur.com/D43tQ13.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    width: auto;
}

.home--logo {
    color: #F65058FF;
    font-family: 'Yeseva One', cursive;
    font-size: 4.5rem;
}

.home--quote {
    color: black;
    font-family: 'EB Garamond', serif;
    padding: 0rem 6rem;
}

.home--quoteAuthor {
    color: rgb(85, 85, 85);
    margin-left: 10rem;
}
  
.home__textContainer {
    left: 49%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -75%);
}