#addEventForm {
    margin-top: 5rem;
}

#addThreadModal {
    margin-top: 5rem;
    width: 200rem;
}

#addVillageForm {
    padding: 5rem;
}

.addVillageHeader {
    margin-top: 2rem;
    text-align: center;
}

#button--createThread {
    display: block;
    margin: 2rem auto;
}

#button--returnToBoard {
    display: block;
    margin: 1rem auto;
}

#buttonContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 1rem;
}

#closeButton {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#createVillageModal {
    margin-top: 5rem;
}

#editBudgetModal {
    margin-top: 5rem;
}

#editMessageModal {
    margin-top: 5rem;
}

#joinVillageForm {
    padding: 3rem;
}

#joinVillageModal {
    margin-top: 5rem;
}

#modal-header {
    justify-content: center;
}

#rsvpEventForm {
    margin-top: 5rem;
}